@charset "utf-8";
/* CSS Document **/
/* --------------------------------------------------------------------
 START - CSS Reset xxccc
 -------------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  text-decoration: none;
}
/* --------------------------------------------------------------------
 END - CSS Reset
 -------------------------------------------------------------------- */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  text-align: left;
  /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
  color: #000000;
}
a {
  color: #FF9933;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
a:hover {
  color: #83EBEB;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  color: #000;
  line-height: 22pt;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #fff;
  line-height: 18px;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .90em;
  font-weight: normal;
  color: #ffffff;
  line-height: 18px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: normal;
  color: #33515D;
}
#wrapper {
  width: 1024px;
  height: auto;
  border: 1px solid #BABABA;
  margin: 10px auto 20px;
  overflow: hidden;
}
/***********************************************/
/** Left Panel CSS                            **/
/***********************************************/
.left-panel {
  background: #fff;
  float: left;
  width: 177px;
  position: relative;
}
.left-panel.about {
  background: url("../img/backgrounds/bground-left-panel-sprite.gif") no-repeat scroll -946px 0 transparent;
  height: 648px;
}
.left-panel.contact {
  background: url("../img/backgrounds/bground-left-panel-sprite.gif") no-repeat scroll -757px 0 transparent;
  height: 648px;
}
.left-panel.index {
  background: url("../img/backgrounds/bground-left-panel-sprite.gif") no-repeat scroll 0 0 transparent;
  height: 648px;
}
.left-panel.attorneys {
  background: url("../img/backgrounds/bground-left-panel-sprite.gif") no-repeat scroll -379px 0 transparent;
  height: 648px;
}
.left-panel.lawyers {
  background: #ffffff;
  height: 648px;
}
.left-panel.practice-area {
  background: url("../img/backgrounds/bground-practice-left-new.gif") no-repeat scroll 0 0 transparent;
  height: 648px;
}
.left-panel.practice-types {
  background: url("../img/backgrounds/pratice-type-left.jpg") no-repeat scroll 0 0 transparent;
  min-height: 709px;
}
/***********************************************/
/** MidPanel CSS                              **/
/***********************************************/
.mid-panel {
  float: left;
  width: 345px;
}
.mid-panel header {
  padding: 0 1.5em;
}
.mid-panel h1 {
  padding: 1em 0 0;
  width: 100%;
  color: #ffffff;
}
.mid-panel h2 {
  font-size: 0.85em;
  letter-spacing: 1px;
  padding: 0.625em 0;
  width: 100%;
}
.mid-panel h3 {
  margin: 0.50em 0 0 40px;
}
.mid-panel p {
  color: #FFFFFF;
  font-weight: normal;
  line-height: 20px;
  padding: 0.825em 2em 0;
}
.mid-panel.index {
  background-image: url("../img/backgrounds/bground-index-midRight-new.jpg");
  background-size: 852px 650px;
  height: 648px;
}
.mid-panel.about {
  background-image: url("../img/backgrounds/bground-about-midRight-new.jpg");
  background-size: 852px 650px;
  height: 648px;
}
.mid-panel.contact {
  background-image: url("../img/backgrounds/bground-contact-midRight-new.jpg");
  background-size: 852px 650px;
  height: 648px;
}
.mid-panel.contact .officeInfo {
  padding: 1em 2em 0;
}
.mid-panel.attorneys {
  background-image: url("../img/backgrounds/bground-ourpeople-midRight-new.jpg");
  background-size: 851px 650px;
  height: 648px;
}
.mid-panel.attorneys .lawyerList1 li a {
  color: #ffffff;
}
.mid-panel.fg {
  background-image: url("../img/backgrounds/bground-people-fg-mid.jpg");
  background-size: 347px 650px;
  height: 648px;
}
.mid-panel.gla {
  background-image: url("../img/backgrounds/bground-people-gla-mid.jpg");
  background-size: 347px 650px;
  height: 648px;
}
.mid-panel.gla p {
  line-height: 18px;
}
.mid-panel.hsm {
  background-image: url("../img/backgrounds/bground-people-hsm-mid.jpg");
  background-size: 371px 650px;
  height: 648px;
}
.mid-panel.cd {
  background-image: url("../img/backgrounds/cheryl-duryea_slice_02.jpg");
  background-position: -26px 0;
  background-size: 371px 650px;
  height: 648px;
}
.mid-panel.jr {
  background-image: url("../img/backgrounds/bground-people-jr-mid.jpg");
  background-size: 368px 650px;
  height: 648px;
}
.mid-panel.map {
  background-image: url("../img/backgrounds/bground-people-map-mid.jpg");
  background-size: 371px 650px;
  height: 648px;
}
.mid-panel.mlw {
  background-image: url("../img/backgrounds/bground-people-mlw-mid.jpg");
  background-size: 347px 650px;
  height: 648px;
}
.mid-panel.mjw {
  background-image: url("../img/backgrounds/bground-people-mjw-mid.jpg");
  background-size: 347px 650px;
  height: 648px;
}
.mid-panel.hw {
  background-image: url("../img/backgrounds/bground-people-hw-mid.jpg");
  background-size: 347px 650px;
  height: 648px;
}
.mid-panel.jk {
  background-image: url("../img/backgrounds/bground-people-jk-mid.jpg");
  background-size: 345px 650px;
  height: 648px;
}
.mid-panel.rdw {
  background-image: url("../img/backgrounds/bground-people-rdw-mid.jpg");
  background-size: 346px 650px;
  height: 648px;
}
.mid-panel.sjb {
  background-image: url("../img/backgrounds/bground-people-sjb-mid.jpg");
  background-size: 347px 650px;
  height: 648px;
}
.mid-panel.sm {
  background-image: url("../img/backgrounds/bground-people-sm-mid.jpg");
  background-size: 347px 650px;
  height: 648px;
}
.mid-panel.bd {
  background-image: url("../img/backgrounds/bground-people-bd-mid.jpg");
  background-size: 347px 650px;
  height: 648px;
}
.mid-panel.practice-area {
  background-image: url("../img/backgrounds/bground-practice-midRight-new.jpg");
  height: 648px;
}
.mid-panel.profile h1 {
  padding: 0;
}
.mid-panel.profile .attorneyAtLaw {
  margin: 0;
  padding: 0;
}
.mid-panel.practice-types {
  background-image: url("../img/backgrounds/pratice-type-mid.jpg");
  min-height: 709px;
}
.mid-panel.practice-types h1 {
  color: #3C2D2B;
}
.mid-panel.practice-types h2 {
  color: #3C2D2B;
}
.mid-panel.sm p {
  line-height: 18px;
}
/***********************************************/
/** Right Panel CSS                           **/
/***********************************************/
.right-panel.contact .officeInfo {
  background: #4F6358;
  background-color: rgba(79, 99, 88, 0.85);
  padding: 1em;
}
.right-panel.attorneys .attorneyList {
  background: #4F6358;
  background-color: rgba(96, 113, 129, 0.85);
  padding: 1em 1em 2em;
  overflow: auto;
}
.right-panel.attorneys .attorneyList h2 {
  color: #fff;
}
.right-panel {
  padding: 1.5em;
  float: left;
  clear: right;
  width: 500px;
  background-color: #fff;
}
.right-panel.index {
  background-image: url("../img/backgrounds/bground-index-midRight-new.jpg");
  background-position: -345px 0px;
  height: 648px;
}
.right-panel.about {
  background-image: url("../img/backgrounds/bground-about-midRight-new.jpg");
  background-position: -345px 0px;
  height: 648px;
}
.right-panel.contact {
  background-image: url("../img/backgrounds/bground-contact-midRight-new.jpg");
  background-position: -344px 0px;
  height: 648px;
}
.right-panel.attorneys {
  background-image: url("../img/backgrounds/bground-ourpeople-midRight-new.jpg");
  background-position: -345px 0px;
  height: 648px;
}
.right-panel.fg {
  background-image: url("../img/backgrounds/bground-people-fg-right.jpg");
  background-size: 507px 650px;
  height: 648px;
}
.right-panel.gla {
  background-image: url("../img/backgrounds/bground-people-gla-right.jpg");
  background-size: 515px 650px;
  height: 648px;
}
.right-panel.hw-rightPanel {
  background-image: url("../img/backgrounds/bground-people-hw-right.jpg");
  background-size: 507px 650px;
}
.right-panel.hsm {
  background-image: url("../img/backgrounds/bground-people-hsm-right.jpg");
  background-position: -7px 0px;
  background-size: 514px 650px;
  height: 648px;
}
.right-panel.cd {
  background-image: url("../img/backgrounds/cheryl-duryea_slice_03.jpg");
  background-position: 0px 0px;
  background-size: 514px 650px;
  height: 648px;
}
cheryl-duryea_slice_02.jpg .right-panel.jr {
  background-image: url("../img/backgrounds/bground-people-jr-right.jpg");
  background-size: 514px 650px;
  height: 648px;
}
.right-panel.jk {
  background-image: url("../img/backgrounds/bground-people-jk-right.jpg");
  background-size: 507px 650px;
  height: 648px;
}
.right-panel.map {
  background-image: url("../img/backgrounds/bground-people-map-right.jpg");
  background-position: -7px 0px;
  background-size: 514px 650px;
  height: 648px;
}
.right-panel.mlw {
  background-image: url("../img/backgrounds/bground-people-mlw-right.jpg");
  background-size: 507px 650px;
  height: 648px;
}
.right-panel.mjw {
  background-image: url("../img/backgrounds/bground-people-mjw-right.jpg");
  background-size: 507px 650px;
  height: 648px;
}
.right-panel.rdw {
  background-image: url("../img/backgrounds/bground-people-rdw-right.jpg");
  background-size: 506px 650px;
  position: relative;
  height: 648px;
}
.right-panel.sjb {
  background-image: url("../img/backgrounds/bground-people-sjb-right.jpg");
  background-size: 514px 650px;
  height: 648px;
}
.right-panel.sm {
  background-image: url("../img/backgrounds/bground-people-sm-right.jpg");
  background-position: -7px 0px;
  background-size: 514px 650px;
  height: 648px;
}
.right-panel.bd {
  background-image: url("../img/backgrounds/bground-people-bd-right.jpg");
  background-position: -7px 0px;
  background-size: 514px 650px;
  height: 648px;
}
.right-panel.practice {
  padding: 1.5em;
  float: left;
  clear: right;
  width: 500px;
  min-height: 709px;
  background-color: #ccc;
}
.right-panel.practice-area {
  background-image: url("../img/backgrounds/bground-practice-midRight-new.jpg");
  background-position: -345px 0;
  height: 648px;
}
.right-panel.practice-type {
  background-image: url("../img/backgrounds/pratice-type-right.jpg");
  background-position: 0 0;
  min-height: 709px;
}
.right-panel.practice-type ul {
  margin: 1em 1.5em;
  font-size: 0.75em;
}
.right-panel.practice-type ul ul {
  font-size: inherit;
  margin-left: 1.25em;
  margin-top: 0.225em;
}
.right-panel .lawyerList1 {
  padding: 0;
}
.right-panel .lawyerList1 li {
  color: #ffffff;
  font-size: 0.85em;
  list-style: none;
}
.right-panel .lawyerList1 li.dropdown-header:first-child {
  margin-top: 0;
}
.right-panel .lawyerList1 li.dropdown-header {
  margin-top: 0.50em;
  margin-bottom: 0.75em;
  padding: 0;
  font-weight: bold;
}
.right-panel .lawyerList1 li a {
  font-weight: normal;
  color: #ffffff;
}
.right-panel .lawyerList1 li a:hover {
  color: #FF9900;
}
.right-panel .practiceList1 {
  padding: 0;
}
.right-panel .practiceList1 li {
  color: #000000;
  list-style: none;
}
.right-panel .practiceList1 li a {
  font-size: 0.85em;
  color: #000000;
}
.right-panel .practiceList1 li a:hover {
  color: #FF9900;
}
.right-panel h1 {
  color: #3C2D2B;
  font-size: 1.25em;
  margin: 0.625rem 0 0.25em;
}
.right-panel h2 {
  color: #3C2D2B;
  font-size: 1em;
  margin: 0 0 1.25rem;
}
.right-panel h3 {
  color: #3C2D2B;
  font-size: 0.85em;
  margin: 0 0 0.265em;
}
.right-panel p {
  line-height: 1.59em;
  color: #3C2D2B;
  margin: 0 0 1.5em;
}
.officeInfo {
  padding: 0 2em;
}
.officeInfo ul {
  margin: 0 0 0.825em;
  list-style: none;
}
.officeInfo li {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  margin: 0 0 0.252em;
}
.officeInfo li .office {
  color: #fff;
  margin-right: 5px;
  font-weight: bold;
}
.bgwpLogo {
  height: 195px;
  margin: 0;
  width: 345px;
}
.mid-panel.practice-types .practiceList1 {
  clear: right;
  float: left;
  list-style: none outside none;
  padding: 0 1em;
  width: 100%;
}
.mid-panel.practice-types .practiceList1 li {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}
.mid-panel.practice-types .practiceList1 li a {
  color: #000;
  padding: 0.295em;
  display: inline-block;
}
.mid-panel.practice-types .practiceList1 li a.active {
  color: #FF0000;
}
.mid-panel.practice-types .practiceList1 li a:hover {
  color: #FFFFFF;
}
.mid-panel.practice-types .practiceList1 .dropdown-header {
  padding: 3px 0px;
  font-weight: bold;
  font-size: 0.80em;
}
.personalContactInfo {
  margin: 15px 38px 0;
  overflow: auto;
}
.practiceType {
  color: #FFFFFF;
  font-size: 0.75em;
  font-style: italic;
  font-weight: normal;
  padding: 0.825em 2em 0;
}
.moreInfoLink {
  float: left;
  overflow: auto;
  padding: 1em 1.5em;
  width: 100%;
}
.moreInfoLink a {
  color: #FFFFFF;
  font-size: 0.70em;
}
.moreInfoLink a:hover {
  color: #FF9900;
}
.moreInfoLink .btn {
  font-weight: bold;
}
.phoneEmail {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.59em;
  padding: 0;
  text-align: left;
  width: 275px;
}
.phoneEmail a {
  color: #83EBEB;
}
.phoneEmail a:hover {
  color: #FF9900;
}
/********************/
/**  Main Nav Menu **/
/********************/
.mainNavMenu1 {
  margin: 2em 0 0;
  text-align: right;
}
.link_btn.active,
.link_btn.active:hover {
  color: #FF9900;
}
.link_btn {
  display: block;
  padding: 0.65em 1.25em;
  color: #494949;
}
.link_btn:before {
  color: #c83f3f;
  margin-right: 4px;
  padding-top: 4px;
  line-height: 4px;
}
.link_btn:hover:before {
  content: url('../img/backgrounds/main-nav-menu-red-glyph.png');
  /* Some fancy character  \00bb */
}
.rollover1 {
  list-style: none;
}
.rollover1 li a:hover {
  color: #000;
}
.subNav {
  margin-right: 10px;
}
.subNav li {
  margin: 0;
  text-align: right;
}
.subNav a {
  color: #4A4A4A;
  font-size: 0.65em;
  margin: 0px;
}
.subNav a:before {
  content: "\00bb";
  /* Some fancy character */
  color: #4A4A4A;
  margin-right: 4px;
}
.subNav a:hover:before {
  content: "\00bb";
  /* Some fancy character */
  color: #c83f3f;
  margin-right: 4px;
}
/***********************************************
 * Sub Nav Menu Formating - Lawyer Profile pages 
 **********************************************/
.lawyer-menu .navbar-header {
  float: left;
  margin-right: 1em;
}
.lawyer-menu.navbar {
  border-radius: 0;
  margin-bottom: 2em;
  min-height: 30px;
  padding-left: 1em;
  padding-right: 1em;
}
.lawyer-menu.navbar-default {
  background-color: #666666;
  border-color: #666666;
}
.lawyer-menu .btn-default:hover,
.lawyer-menu.btn-default:focus,
.lawyer-menu .btn-default:active,
.lawyer-menu .btn-default.active,
.lawyer-menu .open .dropdown-toggle.btn-default {
  background-color: #B2B2B2;
  border-color: #b2b2b2;
}
.lawyer-menu .navbar-default .navbar-brand:hover,
.lawyer-menu .navbar-default .navbar-brand:focus {
  color: #ff9900;
}
.lawyer-menu .btn-default {
  background-color: #666666;
  border-color: #666666;
  border-radius: 0;
  padding: 0.50em;
  font-size: 0.75em;
  color: #FFFFFF;
  font-weight: bold;
}
.lawyer-menu .btn .caret {
  margin-left: .25em;
}
/********************************/
/**  Contact Info - Left Panel **/
/********************************/
#officeInfo {
  bottom: 5em;
  margin: 0;
  position: absolute;
  right: 0;
}
.officeLoc {
  color: #6c6c6a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.67em;
  font-weight: normal;
  margin: 0 1.5em 1em;
  text-align: right;
}
.officecity {
  color: #3E3D3C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.67em;
  font-weight: bold;
  margin: 0 1.5em;
  text-align: right;
}
#socialLinks {
  bottom: 1em;
  height: auto;
  margin: 2em 0 0;
  overflow: auto;
  position: absolute;
  min-height: 60px;
  right: 0;
}
.tw,
.fb,
.lk {
  display: block;
  float: right;
}
.tw,
.lk {
  margin: 0 1em 0 0;
}
.socialIcon {
  margin: 0.25em 1em 1em;
  text-align: right;
  height: auto;
}
/*************************
 * Panel Group Formating
 * ********************** */
.panel-group .panel-heading {
  padding: 5px 15px;
  background-color: #D9D5D5;
}
.panel-group .panel-heading .panel-title {
  margin-bottom: 0;
}
.panel-group .panel-heading .panel-title > a {
  color: #000000;
  font-weight: normal;
}
.panel-group .panel-heading .panel-title > a:hover {
  color: #666666;
}
.panel-group .panel-heading:hover {
  background-color: #B8B7B7;
}
.panel-group .panel-body > ul {
  margin-bottom: 0;
  margin-top: 0;
}
.modal-body h3 {
  color: #000;
  font-weight: bold;
  margin: 0 0 1em;
}
/* PDF Thumnail Modal Dialog Popup list styling */
.specData {
  display: block;
  margin: 10px;
}
.specData a:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.installDocs {
  overflow: auto;
}
.boxListItem {
  float: left;
  height: 180px;
  list-style: none outside none;
  text-align: center;
  width: 100%;
}
.boxListItem a {
  display: block;
  float: left;
  font-size: 10px;
  line-height: 12px;
  margin-right: 10px;
}
.box {
  background-color: #CCCCCC;
  border: 1px solid #CCCCCC;
  height: auto;
  margin: 0 auto 3px auto;
  width: 100px;
}
.pdfImgUpload {
  width: 100px;
  height: auto;
}
.right-panel .btn-group {
  margin-bottom: 2rem;
}
